[
  {
    "name": "MySample-Device01",
    "profileName": "MySample-Device",
    "description": "Example of MySample Device",
    "labels": ["industrial"],
    "protocols": {
      "other": {
        "address": "mysample01",
        "port": 300
      }
    },
    "autoEvents": [
      {"interval": "10s", "onChange": false, "sourceName": "Switch"},
      {"interval": "30s", "onChange": false, "sourceName": "Image"}
    ]
  }
]
